---
layout: default
---

<article class="post">

    <div class="post__title">
        <h1 class="post__title__text">{{ page.title }}</h1>
    </div>
    <div class="post__meta"> 
        <div class="post__meta__category">
            {% for category in page.category %}
                <p class="post__meta__category__title" style="background: {{ site.category | where: "category", category | map: "hue"}}">{{ site.category | where: "category", category | map: "title"}}</p>
            {% else %}
                <p class="post__meta__category__title">No category</p>
            {% endfor %}
        </div>
        <p class="post__meta__divider">·</p>
        <div class="post__meta__date">
            {{ page.date | date: '%B %d, %Y' }}
        </div>
        {% if page.author != nil %}
            {% assign author = site.authors | where: "nick", page.author | first %}
            <p class="post__meta__divider">·</p>
            <div class="post__meta__author">
                <p>by </p>
                <img class="post__meta__author__photo" src="{{ site.url }}/{{ author.photo_dir }}"/>
                <p>{{ author.full_name }}</p>
            </div>
        {% endif %}
    </div>

    {% if page.prevPart != nil or page.nextPart != nil %}
        <div class="post-navigation">
	    {% assign posts = site.posts %}
	    {% assign current_index = posts | index: page %}
	    
	    {% if current_index > 0 %}
		{% assign previous = posts[current_index | minus: 1] %}
	    {% endif %}
	    
	    {% if current_index < posts.size | minus: 1 %}
		{% assign next = posts[current_index | plus: 1] %}
	    {% endif %}

	    <div class="post-navigation-links">
		{% if previous %}
		    <a href="{{ previous.url | relative_url }}">
		        <img class="arrow-left" src="{{ site.url }}/assets/img/icons/arrow_left.svg" />
		        Previous
		    </a>
		{% endif %}
		
		{% if next %}
		    <a href="{{ next.url | relative_url }}">
		        Next
		        <img class="arrow-right" src="{{ site.url }}/assets/img/icons/arrow_right.svg" />
		    </a>
		{% endif %}
	    </div>
	</div>

    {% endif %}

    <div class="post__content">
        {{ content }}
    </div>
</article>
